@import 'nib'
@import './mixins'

input
  shittyfont()
  margin: margin-base
  padding: margin-base
  box-shadow: -1px -1px 0 0 gray-dark, 1px 1px 0 0 white
  border: 1px solid
  border-top-color: black
  border-left-color: black
  border-right-color: gray-lighter
  border-bottom-color: gray-lighter

/* CHECKBOXES */

.checkbox
  input
    vertical-align: top
    margin: 0 3px 0 0
    width: 13px
    height: 13px

    & + label
      cursor: pointer

    &:not(checked)
      position: absolute
      opacity: 0

    &:not(checked) + label
      position: relative
      padding: 0 0 0 17px

    &:not(checked) + label:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 13px
      height: 13px
      background: url('icons/checkbox.png')
      background-size: 13px

    &:checked + label:before
      background: url('icons/checkbox-active.png')
      background-size: 13px

    &:focus + label:before
      box-shadow: none
      outline: 0

  label
    display: inline
    line-height: 100%