@import 'nib'
@import './variables'
@import './mixins'
@import './misc'
@import './plugins'

.win98
  shittyfont()

  @require './window'
  @require './menu'
  @require './buttons'
  @require './forms'
