// links
a
  &:link, &:hover, &:active, &:visited, &:focus
    color: #0645AD
    text-decoration: underline
    cursor: pointer
    outline: 0

// progress bar
.progress-bar
  position: relative
  margin: 12px 5px 0 5px
  height: 20px
  overflow: hidden

  .progress
    position: absolute
    top: 0
    left: 0
    height: 20px

    div
      display: inline-block
      margin: 1px
      height: 16px
      width: 10px
      background: #072269

hr
  margin: 15px 0 15px 0
  border-style: solid
  border-color: #cccccc
  border-width: 1px 0 0 0

.block-centered
  margin: 0 auto;

.block {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// margins
margin_values = 0, 3, 6, 9, 12, 15

for i in (0..4)
  .mt-{margin_values[i]}
    margin-top: (margin_values[i])px !important

  .mr-{margin_values[i]}
    margin-right: (margin_values[i])px !important

  .mb-{margin_values[i]}
    margin-bottom: (margin_values[i])px !important

  .ml-{margin_values[i]}
    margin-left: (margin_values[i])px !important

  .ma-{margin_values[i]}
    margin: (margin_values[i])px !important