font-fam = Tahoma, Verdana, Segoe, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif
font-size = 11px

margin-base = 3px;

black = #000
gray-darker = #070707
gray-dark = #808080
gray = #bfbfbf
gray-light = #818181
gray-lighter = #dfdfdf
white = #fff

blue-dark = #000080
blue-light = #1084d0
blue-lighter = #a2f5ff

pink = #fe81df
red-lighter = #fec4c4
green = #6dff6c

icon-size = 16px
