@import "variables.scss";
@import "themes/elements.scss";

input {
  line-height: 16px;
  padding: 2px;
  border: 1px solid;
  @include border-color-tl('gray-dark');
  @include border-color-rb('gray-lighter');
  @include box-shadow('input-boxshadow');

  &:focus {
    outline: 0;
    border-style: dashed;
    @include border-color-tl('gray-dark');
    @include border-color-rb('gray-dark');
  }
}

.text-field {
  padding: 6px;
  font-size: 11px;
  line-height: 22px;
  cursor: text;
  min-height: 14px;
  border: 1px solid;
  @include border-color-tl('gray-dark');
  @include border-color-rb('gray-lighter');
}

label {
  display: inline-block;
  margin-top: $margin-base;
  margin-bottom: $margin-base;
}

.memo {
  padding: 6px;
  font-size: 11px;
  line-height: 150%;
  cursor: text;
  border: 1px solid;
  @include border-color-tl('gray-dark');
  @include border-color-rb('gray-lighter');
  @include background-color('white');
}

.checkbox {
  input {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 13px;
    height: 13px;
  }

  label {
    display: inline;
    line-height: 100%;
  }

  & + label {
    cursor: pointer;
  }

  &:not(checked) {
    position: absolute;
    opacity: 0;
  }

  &:not(checked) + label {
    position: relative;
    padding: 0 0 0 17px;
  }

  &:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    background: url('../icons/checkbox.png');
    background-size: 13px;
  }

  &:checked + label:before {
    background: url('../icons/checkbox-active.png');
    background-size: 13px
  }

  &:focus + label:before {
    box-shadow: none;
    outline: 0;
  }
}
