@import "themes/elements";

a {
  &:link,
  &:hover,
  &:active,
  &:visited,
  &:focus {
    @include font-color('blue-link');
    text-decoration: underline;
    cursor: pointer;
    outline: 0;
  }
}


hr {
  margin: 0;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px 0 0 0;
}
