@import "themes/elements";
@import "variables";

@mixin font {
  font-size: $font-size;
  font-family: $font-family;
  @include font-color('font-color');
}

@mixin backdrop() {
  box-shadow: 1px 1px 0 0 #000;
  border: 1px solid;
  @include background-color('gray');
  @include border-color-tl('gray-lighter');
  @include border-color-rb('gray-dark');
}
