@import "themes/elements";

.statusbar {
  margin: 1px;

  background-image: url("../icons/statusbar.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 12px 16px;

  border: 1px solid;
  @include border-color-tl('gray-dark');
  @include border-color-rb('white');

  table {
    width: 100%;
    font-size: 11px;
    position: relative;
    border-spacing: 0;
    table-layout: fixed;
    overflow-wrap: break-word;
    padding-right: 15px;

    tr td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 18px;
    }
  }

  .with-divider {
    display: inline-block;
    position: relative;
    padding-left: 10px;
  }

  .with-divider:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    background: #BFBFBF;
    height: 20px;
    width: 4px;
    border: 1px solid;

    border-left: 1px #fff solid;
    border-right: 1px #808080 solid;
  }
}
